.cabecalho-bg {
  background: var(--cor-p3);
}

.cabecalho {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}
.cabecalho li {
  text-align: center;
  padding: 10px 20px;
}

/*  menu*/

.menu-bg {
  background: var(--cor-p1);
  padding: 10px 0px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  flex-wrap: wrap;
}

.menu a {
  padding: 16px 0px;
  display: inline-block;
  position: relative;
}

.menu > a {
  margin-right: 60px;
}

.menu_links {
  display: flex;
  gap: 40px;
}

.menu_links a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background-color: var(--cor-p5);
  margin-top: 4px;
  position: absolute;
  transition: 0.3s;
}

.menu_links a:hover::after {
  width: 100%;
}

.menu_links a:hover {
  color: var(--cor-p5);
}

/* header h1*/

.titulo {
  margin: 30px auto;
}

.titulo::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--cor-p1);
  margin: 60px 0px;
}
