.produtos {
  display: flex;
  align-items: end;
  gap: 24px;
  flex-wrap: wrap;
}

.produtos-titulo {
  margin-bottom: 60px;
  margin-top: 60px;
}

.produtos-titulo:first-child::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--cor-p1);
  margin-bottom: 60px;
}

.produtos-itens {
  flex: 1 1 300px;
}

.produtos-itens img {
  object-fit: cover;
}

.produtos-itens h2 {
  padding: 48px 16px;
  background-color: var(--cor-3);
  max-width: 600px;
}

.purple {
  border-top: 5px solid purple;
}

.red {
  border-top: 5px solid red;
}
.blue {
  border-top: 5px solid rgb(34, 125, 245);
}
