.sobre h2 {
  margin-bottom: 24px;
}

.sobre-conteudo {
  display: flex;
  align-items: start;
  flex-wrap: wrap;
  gap: 10px;
}

.sobre-texto {
  flex: 3 1 300px;
}

.sobre-texto p {
  margin-bottom: 20px;
}

.sobre-img {
  flex: 1 1 100px;
  align-self: right;
}

.sobre-img img {
  object-fit: cover;
}
