.vantagens {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin: 60px auto;
}

.vantagens-item {
  flex: 1 1 300px;
  margin: 20px 10px;
}

.vantagens-item h3 {
  margin-bottom: 24px;
  display: flex;
  gap: 0px 8px;
  align-items: center;
}

.vantagens-purple h3::before,
.vantagens-red h3::before,
.vantagens-blue h3::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 24px;
  background-color: red;
}
.vantagens-purple h3::before {
  background-color: purple;
}
.vantagens-blue h3::before {
  background-color: aqua;
}
